body {
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: blue;
  font-family: "Roboto", sans-serif;
  text-align: center;
}
h2 {
  font-weight: bold;
  color: rgb(65, 60, 60);
  /* padding: 5px 10px; */
  text-transform: capitalize;
}
a {
  color: aqua;
}
a:hover {
  cursor: pointer;
}
#app {
  width: 700px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 40px auto;
}
#descr {
  text-transform: capitalize;
}

.date {
  font-size: 18px;
}
.degree {
  color: blue;
  font-size: 24px;
}
.list {
  padding-left: 0;
  list-style: none;
}
.wrap {
  /* border-color: blueviolet; */
  width: 200px;
}
.footer-text {
  font-size: 12px;
  margin: 20px 20px;
}
